@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-atHauss: 'AtHaussTRIAL-Regular'; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: atGambit, atHauss, sans-serif;
}


@layer utilities {
  .main-heading-text {
    @apply xl:text-[120px] lg:text-[9vw] md:text-[10vw] text-[57px] text-primary-100 leading-[0.8em] text-center
  }
  .nav-text {
    @apply text-[16px] leading-[1.4em] text-white font-atHauss
  }
  .grain {
    @apply bg-[url('/gif/grain-slow.gif')] opacity-[0.1]
  }

}
